.row
  %form#login-form.form-horizontal.span2.offset1.well{action: '', method: 'post'}
    .control-group
      %input#name.input-medium{type:'text', name:'name', placeholder:'Логин'}
    .control-group
      %input#pass.input-medium{type:'password', name:'pass', placeholder:'Пароль'}
    .control-group
      %button#login.btn{type:'submit'} Войти
